@{
    ViewBag.Title = "Home Page";
}




<h2 class="ieTest" style="height: 200px">Index sida</h2>
@*<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>
<h2 style="height: 200px">Index</h2>*@