@{
    ViewBag.Title = "Unauthorized";
}
<div class="md-padding" layout="column" layout-align="center center">
    <h1 style="color: black">Unauthorized</h1>
    <h2>We are sorry, due to </h2>
    <p>rewrewr</p>
</div>

