@{
    ViewBag.Title = "Unauthorized";
}
<div class="md-padding" layout="column" layout-align="center center">
    <h1 style="color: black">Unauthorized</h1>
    <h2>We are sorry, it seems that you are not authorized to access the requested page.</h2>
    <p>Please contact the administrator: admin@pyramidplaning.com</p>
</div>

