
@{
    ViewBag.Title = "PendingApproval";
}

<div class="md-padding" layout="column" layout-align="center center">
    <h1 style="color: black">Successful registration!</h1>
    <h2>Please wait for approval from the administrator.</h2>
    <p>admin@pyramidplaning.com</p>
</div>