.angular-tagger {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: inline-block;
    -moz-min-width: 150px;
    -ms-min-width: 150px;
    -o-min-width: 150px;
    -webkit-min-width: 150px;
    min-width: 150px;
}

.angular-tagger:after {
  content: "\00a0";

}

.angular-tagger__holder {
    display: inline-block;
}

.angular-tagger__wrapper {
    vertical-align: middle;
}

.angular-tagger__tag {
    background: #C51162;
    padding: 8px 12px;
    margin: 2px;
    display: inline-block;
    color: white;
    -ms-border-radius: 16px;
    border-radius: 16px;
    -moz-min-width: 130px;
    -ms-min-width: 130px;
    -o-min-width: 130px;
    -webkit-min-width: 130px;
    min-width: 130px;
    text-align: center;
    text-transform: capitalize;
}

.angular-tagger-tag__delete {
    cursor: pointer;
    float: left;
    line-height: 18px;
}

.angular-tagger__input {
    border: none;
    background: none;
    outline: none;
    width: auto;
    min-width: 1px;
    display: inline-block;
    height: 20px;
    line-height: 36px;
    padding: 1px 0 1px 3px;
    vertical-align: middle;
}

    .angular-tagger__input:empty:not(:focus):before {
        content: attr(placeholder);
        color: rgba(0,0,0,0.26);
  font-weight: 700;
    }

.angular-tagger__hook {
    width: 100%;
    clear: both;
    height: 0;
    position: relative;
}

.angular-tagger__matching {
    position: absolute;
    z-index: 10;
    min-width: 100px;
    width: 100%;
    top: 0px;
    left: -1;
    border: 1px solid #eee;
    padding: 0;
    margin: 0;
    background: #fff;
}

.angular-tagger__matching-item {
    list-style: none;
    padding: 3px 5px;
    background: #fff;
    text-transform: capitalize;
}

    .angular-tagger__matching-item:hover {
        cursor: pointer;
    }

.angular-tagger__matching-item--selected {
    background: #C51162;
    color: #fff;
}

.angular-tagger--single .angular-tagger__tag {
    display: block;
}

.angular-tagger--single .angular-tagger__holder {
    display: block;
}

.angular-tagger--single .angular-tagger-tag__delete {
    float: right;
}
