html {
    height: 100%;
}

body {
    font-family: Roboto-Regular;
    height: 100%;
    padding: 0;
    overflow: auto;
}


@font-face {
    font-family: 'Roboto-Thin';
    src: url('Font/Roboto-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('Font/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('Font/Roboto-Regular.ttf') format('truetype');
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.menuBtn {
    background-color: transparent;
    border: none;
    height: 38px;
    margin: 16px;
    position: absolute;
    width: 36px;
}

md-toolbar h1 {
    font-size: 3em;
    /*font-weight: 200;*/
    margin: auto;
    text-transform: uppercase;
}

md-list .md-button {
    color: inherit;
    font-weight: 500;
    text-align: left;
    width: 100%;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
}

.menuList {
    color: #4A1070;
}

a:focus {
    text-decoration: none;
    color: inherit;
    border: none;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

#bottomToolbar {
    position: fixed;
    bottom: 0;
    z-index: 100;
}



/* Using Data-URI converted from svg until <md-icon> becomes available 
https://github.com/google/material-design-icons
*/
.menuBtn {
    background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIyNHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDI0IDI0IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPGcgaWQ9IkhlYWRlciI+CiAgICA8Zz4KICAgICAgICA8cmVjdCB4PSItNjE4IiB5PSItMjIzMiIgZmlsbD0ibm9uZSIgd2lkdGg9IjE0MDAiIGhlaWdodD0iMzYwMCIvPgogICAgPC9nPgo8L2c+CjxnIGlkPSJMYWJlbCI+CjwvZz4KPGcgaWQ9Ikljb24iPgogICAgPGc+CiAgICAgICAgPHJlY3QgZmlsbD0ibm9uZSIgd2lkdGg9IjI0IiBoZWlnaHQ9IjI0Ii8+CiAgICAgICAgPHBhdGggZD0iTTMsMThoMTh2LTJIM1YxOHogTTMsMTNoMTh2LTJIM1YxM3ogTTMsNnYyaDE4VjZIM3oiIHN0eWxlPSJmaWxsOiNmM2YzZjM7Ii8+CiAgICA8L2c+CjwvZz4KPGcgaWQ9IkdyaWQiIGRpc3BsYXk9Im5vbmUiPgogICAgPGcgZGlzcGxheT0iaW5saW5lIj4KICAgIDwvZz4KPC9nPgo8L3N2Zz4=) no-repeat center center;
}


h1 {
    color: white;
}

/*externalLoginListPartial*/

.outerWrapper {
    height: 650px;
}

.customWhiteFrame {
    height: 60%;
    margin: 8% auto;
    max-width: 650px;
    overflow-y: hidden;
}

.innerWrapper {
    height: 70%;
}

    .innerWrapper h2 {
        text-align: center;
    }

/*shared*/

.main-container {
    margin-bottom: -64px;
    min-height: 100%;
}

    .main-container:after {
        content: "";
        display: block;
    }

.footer {
    background-color: #404040;
    padding-top: 2rem;
    padding-bottom: 2rem;
    /*-webkit-box-shadow: 2px -4px 5px 0px rgba(50, 50, 50, 0.75);
    -ms-box-shadow: 2px -4px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px -4px 5px 0px rgba(50, 50, 50, 0.75);*/
}

.footer, .main-container:after {
    height: 64px;
}



/*only for Internet Explorer*/

@media all and (-ms-high-contrast:none) {

    .ieHeaderText {
        height: 45px;
    }

    .ieLoginHeaderText {
        width: 150px;
    }

    .ieLogo {
        height: 50px;
        margin-top: 7.5px;
    }

    .ieFooterText {
        font-size: 0.8em;
    }

    .ieLoginTextMessage {
        font-size: 1.2em;
    }

    .ieSideNav {
        height: 800px;
    }
}

/*only for firefox*/
@-moz-document url-prefix() {
    .firefoxAdminButton {
        max-height: 40px;
    }

    .firefoxAdminSpanSymbol {
        top: -17px;
    }
}

input, textarea {
    max-width: none;
}

md-radio-group {
    border: none;
}


/*AddToDo.html*/

.radiobuttonInfo {
    color: #bdbdbd;
}

.radioButtonEffort {
    margin-top: 25px;
}



/*addSubToDo.Html*/

.radioButtonPosition {
    margin-top: 25px;
}

/*layout.cshtml*/

.pyramidLogoDiv {
    margin: auto;
    width: 50px;
}

.sidenavCard {
    min-height: 855px;
}

.sidenavList {
    list-style-type: none;
    padding: 0;
}

.adminLink {
    padding-left: 30px;
}

    .adminLink span {
        float: right;
    }

.sidenavDivider {
    margin-bottom: 30px;
    margin-top: 30px;
}


/*subItems.html*/

.listItemheaders {
    font-weight: 900;
}

.listSpan {
    font-weight: 100;
}

.md-tile-content h3 {
    font-weight: 800;
}

.md-tile-content h4 {
    font-weight: 800;
}

.starSpan {
    color: #bdbdbd;
    font-size: 30px;
}

.customSelect {
    margin-top: 2.15em;
}

.saved {
    -webkit-transition: background 3s ease-in-out;
    -moz-transition: background 3s ease-in-out;
    -ms-transition: background 3s ease-in-out;
    -o-transition: background 3s ease-in-out;
    transition: background 3s ease-in-out;
    color: red;
}

.test {
    background: #7db9e8; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: -moz-linear-gradient(left, #7db9e8 0, #207cca 0, #2989d8 0, #1e5799 88%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0,#7db9e8), color-stop(0,#207cca), color-stop(0%,#2989d8), color-stop(88%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #7db9e8 0%,#207cca 0%,#2989d8 0%,#1e5799 88%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #7db9e8 0%,#207cca 0%,#2989d8 0%,#1e5799 88%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #7db9e8 0%,#207cca 0%,#2989d8 0%,#1e5799 88%); /* IE10+ */
    background: linear-gradient(to right, #7db9e8 0%,#207cca 0%,#2989d8 0%,#1e5799 88%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=1 ); /* IE6-8 */
}
