
<md-dialog flex="60">
    <md-content class="sticky-container">
        <md-header class="md-sticky-no-effect">Add Sub Task</md-header>
        <div class="dialog-content">
            <form name="SubToDoSubmit" novalidate>

                <div layout layout-sm="column">

                    <md-input-container flex>
                        <label for="title">Title</label>
                        <input ng-model="subItem.Title"
                               required
                               ng-maxlength="250"
                               ng-minlength="1"
                               name="title" />
                    </md-input-container>

                    <md-input-container flex>
                        <label for="estimatedTime">Estimated Time</label>
                        <input type="number"
                               required
                               min="0"
                               max="1000"
                               name="estimatedTime"
                               ng-model="subItem.Effort" />

                        <div ng-messages="SubToDoSubmit.estimatedTime.$error">
                            <div ng-message="number">
                                This value must be a number
                            </div>
                        </div>
                    </md-input-container>

                    <md-radio-group layout-sm="column" required ng-model="subItem.Time" layout="row">
                        <md-radio-button class="radioButtonPosition" name="days" value="days">Days</md-radio-button>
                        <md-radio-button class="radioButtonPosition" name="hours" value=" hours"> Hours </md-radio-button>
                    </md-radio-group>
                </div>

                    <div layout layout-md="column" layout-sm="column">
                        <md-select class="customSelect" name="prioritySelect" placeholder="Priority" ng-model="subItem.Priority" required>
                            <md-optgroup label="Priority">
                                <md-option value="100">100</md-option>
                                <md-option value="200">200</md-option>
                                <md-option value="300">300</md-option>
                                <md-option value="400">400</md-option>
                                <md-option value="500">500</md-option>
                                <md-option value="600">600</md-option>
                                <md-option value="700">700</md-option>
                                <md-option value="800">800</md-option>
                                <md-option value="900">900</md-option>
                                <md-option value="1000">1000</md-option>
                            </md-optgroup>
                        </md-select>

                        <md-input-container flex="">
                            <label for="deadline">Deadline</label>
                            <input type="date"
                                   ng-model="subItem.Deadline"
                                   min="2015-01-01"
                                   max="2050-01-01"
                                   name="deadline" />
                        </md-input-container>
                        </div>
                  

                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Description</label>
                        <textarea ng-model="subItem.Description"
                                  ng-maxlength="800"
                                  required
                                  md-maxlength="800"
                                  ng-minlength="10"></textarea>
                    </md-input-container>
                </div>


                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label for="StartDate">Start date</label>
                        <input type="date"
                               name="StartDate"
                               ng-model="subItem.StartDate"
                               min="2015-01-01"
                               max="2050-01-01" />
                    </md-input-container>

                    <md-input-container flex>
                        <label for="EndDate">End date</label>
                        <input type="date"
                               name="EndDate"
                               ng-model="subItem.EndDate"
                               min="2015-01-01"
                               max="2050-01-01" />
                    </md-input-container>
                </div>

                <div class="md-actions" layout="row">
                    <md-button ng-click="addSubItem(subItem)" class="md-primary" ng-disabled="SubToDoSubmit.$invalid">
                        Add
                    </md-button>
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>

                </div>
            </form>
        </div>
    </md-content>

</md-dialog>
