<md-dialog>
    <md-content class="sticky-container">
        <md-header class="md-sticky-no-effect">Add Sub Item</md-header>
        <div class="dialog-content">
            <form name="SubToDoSubmit">

                <div layout layout-sm="column">

                    <md-input-container flex>
                        <label for="title">Title</label>
                        <input ng-model="subItem.title"
                               required
                               ng-maxlength="250"
                               ng-minlength="1"
                               name="title"
                               autofocus/>

                    </md-input-container>

                    <md-input-container flex>
                        <label for="estimatedTime">Estimated time</label>
                        <input type="number"
                               required
                               min="0"
                               max="1000"
                               name="estimatedTime"
                               ng-model="subItem.effort" />

                        <div ng-messages="SubToDoSubmit.estimatedTime.$error">
                            <div ng-message="number">
                                This value must be a number
                            </div>
                        </div>


                    </md-input-container>

                    <!--<p style="color: #bdbdbd;" hide-gt-sm>Choose in days or in hours:</p>-->
                    <md-radio-group layout-sm="column" required ng-model="subItem.time" layout="row">

                        <md-radio-button class="radioButtonPosition" name="days" value="days">Days</md-radio-button>
                        <md-radio-button class="radioButtonPosition" name="hours" value=" hours"> Hours </md-radio-button>
                    </md-radio-group>

                </div>

                <md-input-container flex>
                    <label>Description</label>
                    <textarea ng-model="subItem.description"
                              ng-maxlength="800"
                              required
                              md-maxlength="800"
                              ng-minlength="10"></textarea>
                </md-input-container>

                <div class="md-actions" layout="row">
                    <md-button ng-click="addSubItem(subItem)" class="md-primary" ng-disabled="SubToDoSubmit.$invalid">
                        Add
                    </md-button>
                    <md-button ng-click="cancel()">
                        Cancel
                    </md-button>

                </div>
            </form>
        </div>
    </md-content>
 
</md-dialog>
