<md-content class="md-padding">
    <md-card flex-md flex-gt-md>
        <md-card-content>

            <form name="toDoSubmit" ng-submit="add(ToDoModel)">

                <div layout layout-sm="column">

                    <md-input-container flex>
                        <label for="title">Title</label>
                        <input ng-model="ToDoModel.ParentToDo.title"
                               required
                               ng-maxlength="250"
                               ng-minlength="1"
                               name="title"
                               autofocus/>
                    </md-input-container>

                    <md-input-container flex>
                        <label for="estimatedTime">Estimated time</label>
                        <input type="number"
                               required
                               min="0"
                               max="1000"
                               name="estimatedTime"
                               ng-model="ToDoModel.ParentToDo.effort"/>

                        <div ng-messages="toDoSubmit.estimatedTime.$error">
                            <div ng-message="number">
                                This value must be a number
                            </div>
                        </div>


                    </md-input-container>

                    <p class="radiobuttonInfo" hide-gt-sm>Please choose days or hours:</p>
                    <md-radio-group layout-sm="column" required ng-model="ToDoModel.ParentToDo.time" layout="row">
                        <md-radio-button class="radioButtonEffort" name="days" value="days">Days</md-radio-button>
                        <md-radio-button class="radioButtonEffort" name="hours" value=" hours"> Hours </md-radio-button>
                    </md-radio-group>

                </div>
                <div layout layout-sm="row">
                    <md-input-container flex="66">
                        <label>Description</label>
                        <textarea ng-model="ToDoModel.ParentToDo.description"
                                  ng-maxlength="800"
                                  required
                                  md-maxlength="800"
                                  ng-minlength="10"></textarea>
                    </md-input-container>

                    <div flex>
                        <p>Select Priority</p>
                        <md-select name="prioritySelect" placeholder="Priority" ng-model="someVal" required>
                            <md-option value="1">One</md-option>
                            <md-option value="2">Two</md-option>
                        </md-select>
                    </div>

                </div>



                <div layout-align="start end" layout="row">
                    <md-button class="md-primary md-hue-1 md-raised" type="submit" ng-disabled="toDoSubmit.$invalid">Submit</md-button>
                </div>

            </form>


            <div layout-align="end center" layout="row">
                <md-button aria-label="addToDo" class="md-fab md-mini" ng-click="ShowAddSubToDo($event)">
                    <span class="glyphicon glyphicon-plus"></span>
                    <md-tooltip md-direction="left">
                        Add subitem
                    </md-tooltip>
                </md-button>
            </div>
        </md-card-content>
    </md-card>
</md-content>


<md-content class="md-padding" ng-show="ToDoModel.ChildToDos.length">

    <md-card>
        <md-toolbar>
            <h1 class="md-toolbar-tools">
                <span>Sub Items</span>
            </h1>
        </md-toolbar>
        <md-card-content>

            <md-list>
                <md-item ng-repeat="subItem in ToDoModel.ChildToDos" subitems>
                </md-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>

