<div layout layout-align="start center" class="md-padding">
    <h1 class="md-padding" style="color: #bdbdbd; margin-bottom: 10px; margin-left: 25px;">{{PageHeader}}</h1>
</div>

<md-content class="md-padding">
    <md-card flex-md flex-gt-md>
        <md-card-content>

            <form name="toDoSubmit" ng-submit="add(ToDoModel)">

                <div layout layout-sm="column">

                    <md-input-container flex>
                        <label for="title">Title</label>
                        <input ng-model="ToDoModel.ParentToDo.Title"
                               required
                               ng-maxlength="250"
                               ng-minlength="1"
                               name="title"
                               autofocus />
                    </md-input-container>

                    <md-input-container flex>
                        <label for="estimatedTime">Estimated Time</label>
                        <input type="number"
                               required
                               min="0"
                               max="1000"
                               name="estimatedTime"
                               ng-model="ToDoModel.ParentToDo.Effort" />

                        <div ng-messages="toDoSubmit.estimatedTime.$error">
                            <div ng-message="number">
                                This value must be a number
                            </div>
                        </div>


                    </md-input-container>

                    <p class="radiobuttonInfo" hide-gt-sm>Please choose days or hours:</p>
                    <md-radio-group layout-sm="column" required ng-model="ToDoModel.ParentToDo.Time" layout="row">
                        <md-radio-button class="radioButtonEffort" name="days" value="days">Days</md-radio-button>
                        <md-radio-button class="radioButtonEffort" name="hours" value=" hours"> Hours </md-radio-button>
                    </md-radio-group>

                </div>
                
                <div layout layout-md="column" layout-sm="column">
                    <md-select class="customSelect" name="prioritySelect" placeholder="Priority" ng-model="ToDoModel.ParentToDo.Priority" flex="20" required>
                        <md-optgroup label="Priority">
                            <md-option value="100">100</md-option>
                            <md-option value="200">200</md-option>
                            <md-option value="300">300</md-option>
                            <md-option value="400">400</md-option>
                            <md-option value="500">500</md-option>
                            <md-option value="600">600</md-option>
                            <md-option value="700">700</md-option>
                            <md-option value="800">800</md-option>
                            <md-option value="900">900</md-option>
                            <md-option value="1000">1000</md-option>
                        </md-optgroup>
                    </md-select>

                    <md-input-container flex="">
                        <label for="deadline">Deadline</label>
                        <input type="date"
                               ng-model="ToDoModel.ParentToDo.Deadline"
                               name="deadline" />
                    </md-input-container>

                </div>
                

                <div layout layout-sm="column">
                    <md-input-container flex="">
                        <label>Description</label>
                        <textarea ng-model="ToDoModel.ParentToDo.Description"
                                  ng-maxlength="800"
                                  required
                                  md-maxlength="800"
                                  ng-minlength="10"></textarea>
                    </md-input-container>
                </div>

               


                    <!--<div layout layout-sm="row">

            <div ng-controller="datePickerController">
                <div class="input-group">
                    <md-input-container>
                        <label for="Deadline">Deadline</label>
                        <input type="text"
                               name="Deadline"
                               datepicker-popup="{{format}}"
                               ng-model="dt | date:'yyyy-MM-dd'"
                               is-open="opened"
                               min-date="minDate"
                               max-date="'2015-06-22'"
                               datepicker-options="dateOptions"
                               date-disabled="disabled(date, mode)"
                               ng-required="true"
                               close-text="Close" />
                    </md-input-container>

                    <span class="input-group-btn">
                        <button type="button"
                                class="btn btn-default"
                                ng-click="open($event)">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </div>

            </div>



        </div>-->

                    <div layout-align="start end" layout="row">
                        <md-button class="md-primary md-hue-1 md-raised" type="submit" ng-disabled="toDoSubmit.$invalid">Submit</md-button>
                    </div>

</form>


            <div layout-align="end center" layout="row">
                <md-button aria-label="addToDo" class="md-fab md-mini" ng-click="ShowAddSubToDo($event)">
                    <span class="glyphicon glyphicon-plus"></span>
                    <md-tooltip md-direction="left">
                        Add subtask
                    </md-tooltip>
                </md-button>
            </div>
        </md-card-content>
    </md-card>
</md-content>


<md-content class="md-padding" ng-show="ToDoModel.ChildToDos.length">

    <md-card>
        <md-toolbar>
            <h1 class="md-toolbar-tools">
                <span>Sub Tasks</span>
            </h1>
        </md-toolbar>
        <md-card-content>

            <md-list>
                <md-item ng-repeat="subItem in ToDoModel.ChildToDos" subitems>
                </md-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>

