
<md-dialog class="md-margin">
    <md-content class="sticky-container">
        <div layout layout-sm="column">
            <datepicker>
            </datepicker>
        </div>
        <div class="md-actions" layout="row" flex>
           
            <md-button ng-click="addSubItem(subItem)" class="md-primary" ng-disabled="SubToDoSubmit.$invalid">
                Add
            </md-button>
            <md-button ng-click="cancel()">
                Cancel
            </md-button>

        </div>
    </md-content>

</md-dialog>