<style>
    * {
        /*-moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;*/
    }

    [ng-drag] {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    [ng-drag] {
        /*width: 100px;*/
        height: 100px;
        background: rgba(255,0,0, 0.5);
        color: white;
        text-align: center;
        padding-top: 40px;
        display: block;
        margin: 0 10px;
        cursor: move;
    }

    ul.draggable-objects:after {
        display: block;
        content: "";
        clear: both;
    }

    .draggable-objects li {
        /*float: left;*/
        display: block;
        /*width: 120px;*/
        height: 100px;
    }

    [ng-drag].drag-over {
        border: solid 1px red;
    }

    [ng-drag].dragging {
        opacity: 0.5;
    }

    [ng-drop] {
        /*background: rgba(0,255,0, 0.5);*/
        text-align: center;
        /*width: 600px;*/
        /*height: 200px;*/
        /*padding-top: 90px;*/
        display: block;
        /*margin: 20px auto;*/
        /*position: relative;*/
    }

        [ng-drop].drag-enter {
            border: solid 5px red;
        }

        [ng-drop] span.title {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 200px;
            height: 20px;
            margin-left: -100px;
            margin-top: -10px;
        }

        [ng-drop] div {
            position: relative;
            z-index: 2;
        }
</style>
<div class="container-fluid" ng-controller="testController">

    <div class="row">

        <div class="col-md-2 col-sm-2 col-xs-2" style="border: solid black 1px; height: 600px;">
            <span class="title">Planed</span>
            <div ng-repeat="obj in draggableObjects" ng-drag="true" ng-drag-data="obj" data-allow-transform="true">
                {{obj.name}} +  {{obj.status}}
                <button ng-click="removeItem(obj,'draggable')">Remove</button>
                <button ng-prevent-drag ng-click="ShowAddSubToDo($event,obj,'draggable' )">
                    Edit
                </button>
            </div>

        </div>

        <div class="col-md-2 col-sm-2 col-xs-2" style="border: solid black 1px; height: 600px;" ng-drop="true" ng-drop-success="onDropComplete1($data,$event)">
            <span class="title">Ongoing</span>
            <div ng-repeat="obj in droppedObjects1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{obj.name}} + {{obj.status}}
                <button ng-prevent-drag ng-click="removeItem(obj,'dropped1')">
                    Remove
                </button>
                <button ng-prevent-drag ng-click="ShowAddSubToDo($event,obj,'dropped1' )">
                    Edit
                </button>
            </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2" style="border: solid black 1px; height: 600px;" ng-drop="true" ng-drop-success="onDropComplete2($data,$event)">
            <span class="title">Done</span>
            <div ng-repeat="obj in droppedObjects2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccess2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                {{obj.name}}  + {{obj.status}}
                <button ng-prevent-drag ng-click="removeItem(obj,'dropped2')">
                    Remove
                </button>
                <button ng-prevent-drag ng-click="ShowAddSubToDo($event,obj,'dropped2' )">
                    Edit
                </button>
            </div>
        </div>


        <div class="col-md-2 col-sm-2 col-xs-2" style="border: solid black 1px; height: 600px;" ng-drop="true" ng-drop-success="onDropComplete2($data,$event)">
            <!--<span class="title">Done</span>-->
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4" style="border: solid black 1px; height: 600px;" ng-drop="true" ng-drop-success="onDropComplete2($data,$event)">






            <!--<form name="toDoSubmit" ng-submit="add(ToDoModel)">

                <div layout layout-sm="column">

                    <md-input-container flex>
                        <label for="title">Title</label>
                        <input ng-model="ToDoModel.ParentToDo.Title"
                               required
                               ng-maxlength="250"
                               ng-minlength="1"
                               name="title"
                               autofocus />
                    </md-input-container>

                    <md-input-container flex>
                        <label for="estimatedTime">Estimated Time</label>
                        <input type="number"
                               required
                               min="0"
                               max="1000"
                               name="estimatedTime"
                               ng-model="ToDoModel.ParentToDo.Effort" />

                        <div ng-messages="toDoSubmit.estimatedTime.$error">
                            <div ng-message="number">
                                This value must be a number
                            </div>
                        </div>


                    </md-input-container>

                    <p class="radiobuttonInfo" hide-gt-sm>Please choose days or hours:</p>
                    <md-radio-group layout-sm="column" required ng-model="ToDoModel.ParentToDo.Time" layout="row">
                        <md-radio-button class="radioButtonEffort" name="days" value="days">Days</md-radio-button>
                        <md-radio-button class="radioButtonEffort" name="hours" value=" hours"> Hours </md-radio-button>
                    </md-radio-group>

                </div>

                <div layout layout-md="column" layout-sm="column">
                    <md-select class="customSelect" name="prioritySelect" placeholder="Priority" ng-model="ToDoModel.ParentToDo.Priority" flex="20" required>
                        <md-optgroup label="Priority">
                            <md-option value="100">100</md-option>
                            <md-option value="200">200</md-option>
                            <md-option value="300">300</md-option>
                            <md-option value="400">400</md-option>
                            <md-option value="500">500</md-option>
                            <md-option value="600">600</md-option>
                            <md-option value="700">700</md-option>
                            <md-option value="800">800</md-option>
                            <md-option value="900">900</md-option>
                            <md-option value="1000">1000</md-option>
                        </md-optgroup>
                    </md-select>

                    <md-input-container flex="">
                        <label for="deadline">Deadline</label>
                        <input type="date"
                               ng-model="ToDoModel.ParentToDo.Deadline"
                               min="2015-01-01"
                               max="2050-01-01"
                               name="deadline" />
                    </md-input-container>

                </div>


                <div layout layout-sm="column">
                    <md-input-container flex="">
                        <label>Description</label>
                        <textarea ng-model="ToDoModel.ParentToDo.Description"
                                  ng-maxlength="800"
                                  required
                                  md-maxlength="800"
                                  ng-minlength="10"></textarea>
                    </md-input-container>
                </div>

                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label for="StartDate">Start date</label>
                        <input type="date"
                               name="StartDate"
                               ng-model="ToDoModel.ParentToDo.StartDate"
                               min="2015-01-01"
                               max="2050-01-01" />
                    </md-input-container>

                    <md-input-container flex>
                        <label for="EndDate">End date</label>
                        <input type="date"
                               name="EndDate"
                               ng-model="ToDoModel.ParentToDo.EndDate"
                               min="2015-01-01"
                               max="2050-01-01" />
                    </md-input-container>
                </div>

                <div layout layout-sm="column" ng-controller="assignmentController">
                    <div flex>
                        <tagger ng-model="tags" options="contacts" disable-new placeholder="Assign" />
                    </div>
                    <div ng-repeat="item in contacts">
                        {{item}}
                    </div>
                </div>

                <div layout-align="start end" layout="row">
                    <md-button class="md-primary md-hue-1 md-raised" type="submit" ng-disabled="toDoSubmit.$invalid">Submit</md-button>
                </div>

            </form>-->

            <form ng-submit="addTask(task)">
                <label>Name</label>
                <input ng-model="task" type="text" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>

