<md-content class="md-padding" ng-show="!toDoList.length">
    <a ng-href="#/addToDo">Create Todo</a>
</md-content>


<md-content class="md-padding" ng-show="toDoList.length">
    <div layout="row">
        <md-input-container flex="40">
            <label>Search:</label>
            <input ng-model="query" />
        </md-input-container>
    </div>
    <a ng-href="#/addToDo">Create Todo</a>
    <md-card>
        <md-toolbar>
            <h1 class="md-toolbar-tools">
                <span>ToDos</span>
            </h1>
        </md-toolbar>
        <md-card-content>

            <md-list>
                <form>
                    <md-item ng-repeat="toDo in toDoList | filter: query  | orderBy: '-Created'">
                        <md-item-content>
                            <div class="md-tile-left">
                                <span class="glyphicon glyphicon-star starSpan"></span>
                            </div>
                            <div class="md-tile-content">
                                <h3>Title: <span class="listSpan">{{toDo.Title | limitTo: 50}}</span></h3>
                                <h3 class="listItemheaders">Estimated time: <span class="listSpan">{{toDo.Effort}}</span> </h3>
                                <h3 class="listItemheaders">Description:<span class="listSpan"> {{toDo.Description | limitTo: 90}}...</span></h3>
                            </div>

                            <md-button aria-label="edit" class="md-fab md-mini" ng-href="#/editToDo/{{toDo.ToDoId}}">
                                <md-icon layout="row" layout-align="center center" class="glyphicon glyphicon-edit"></md-icon>
                                <md-tooltip md-direction="left">
                                    Edit
                                </md-tooltip>
                            </md-button>


                            <div class="md-tile-right">
                                <md-button aria-label="delete" class="md-fab md-mini" ng-click="deleteConfirm($event,$index, toDo)">
                                    <md-icon layout="row" layout-align="center center" class="glyphicon glyphicon-remove"></md-icon>
                                </md-button>
                            </div>
                        </md-item-content>

                        <md-divider ng-if="!$last"></md-divider>
                    </md-item>
                </form>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>
{{index}}
