@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
    
        <a href="javascript:document.getElementById('logoutForm').submit()">
            <md-icon md-svg-icon="~/Images/Icons/ic_exit_to_app_48px.svg" style="height: 35px; width: 35px;">
            </md-icon>
        </a>
    }
}

